
{%extends 'base.html'%}
{% load widget_tweaks %}

{%block title%}
Register
{%endblock%}
{%block content%}
<div class="container">
    <br>

{% if form.errors %}
<div class="col-sm-6 col-sm-offset-3">
  <div class="alert alert-danger alert-dismissable">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    {% for field in form.visible_fields %}
      {%if field.errors%}
        {{ field.label_tag }}
        {{ field.errors|escape }}
      {%endif%}
    {% endfor %}
  </div>
</div>
{% endif %}

<div class= 'col-sm-6 col-sm-offset-3'>
  <div class="alert alert-info ">
    <p class="text-center">Enter your name and password to register</p>
  </div>
</div>

<div class= 'col-sm-6 col-sm-offset-3'>
<form  method="post" action="{% url 'users:register' %}" novalidate>
  {% csrf_token %}
  {% for field in form.visible_fields %}
  <div class="form-group">
    {{ field.label_tag }}
    {% render_field field class="form-control" %}

  </div>
  {% endfor %}
  <button name="submit" type="submit" class="btn btn-primary">sign up</button>
</form>
</div>
</div>

{%endblock%}
