{%extends 'base.html'%}
{%load bootstrap3%}
{%block title%}
Add article
{%endblock%}

{%block content%}
<div class="container">

        <form action="{%url 'articles:add_article'%}" method='post' enctype="multipart/form-data">
                <div class="form-group">
                        {% csrf_token %}
                        {% bootstrap_form form  %}
                        <button class=" btn-xs btn btn-success" name="submit">add</button>
                        <a href="{%url 'articles:list' %}" class=" btn-xs btn btn-warning">Cancel</a>        
                </form>

</div>
        {%endblock%}
        