{%extends 'base.html'%}

{%block content%}
<div class="container"></br>
<p>
    <a href="{%url 'articles:add_article'%}" class="btn btn-success btn-sm">Add article</a>
</p>

    {%for article in articles%}

    <div class="panel panel-info">
            <div class="panel-heading">
                <a href="{%url 'articles:view_article' article.id%}" class="btn btn-primary btn-xs">View</a>
                <a href="{%url 'articles:edit_article' article.id%}" class="btn btn-primary btn-xs">Edit</a>
                <a href="{%url 'articles:delete_article' article.id%}" class="btn btn-warning btn-xs pull-right">Delete</a>                
            </div>
            <div class="panel-body">
                <p><strong>{{article.title}}</strong></p>
                   {{article.body}}
            </div>
    </div>
    {%endfor%}
</div>

{%endblock%}
