{%extends 'base.html'%}
{%load bootstrap3%}
{%load staticfiles%}


{%block title%}
Edit article
{%endblock%}
{%block content%}


<div class="container">
<form action="{%url 'articles:edit_article' art_edit.id%}" method='post' enctype="multipart/form-data">
{% csrf_token %}
{% bootstrap_form form %}
<br>        
<button class="btn btn-success btn-xs" name="submit">Save</button>
<a href="{%url 'articles:list' %}" class="btn btn-warning btn-xs">Cancel</a> 
</form>

<br>




    <img id="myImg" src="{%static 'article/qa.jpg'%}" alt="qa" width="300" height="200"/>
    

    <!-- The Modal -->
<div id="myModal" class="modal">
    <span class="close">&times;</span>
    <img class="modal-content" id="img01">
    <div id="caption"></div>
  </div>
 
  <script src="{%static 'article/zoom_img.js'%}"></script>  
  <link rel="stylesheet" href="{%static 'article/zoom_img.css'%}">
  
{%endblock%}
        