{%extends 'base.html'%}
{%load bootstrap3%}
{%load staticfiles%}
{%block title%}
Edit category
{%endblock%}

{%block content%}
<div class="container"><br/>
<div class="row">
<div class="col-md-4">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4>Edit category</h4>
        </div>
    <div class="panel-body">

<form action="{%url 'articles:edit_category' category_id%}" method='post'>
    {% csrf_token %}
    {% bootstrap_form form %}
    <a href="{%url 'articles:category' category_id%}" class="btn btn-default btn-sm">Back</a>
    <input type="submit" class="btn btn-primary btn-sm" value="Rename"/>  
    <button class="btn btn-warning btn-sm dlt ">Delete</button>
               
</form>
</div>
<script>
    $('.dlt').click(function(e){
        e.preventDefault();   
         bootbox.confirm("Are you sure? Current category and all related articles will be deleted", function(result) {
             if (result) {
                 document.location.href = "{%url 'articles:delete_category' category_id%}";
            }
        });
    });    
</script> 

</div>


</div>
</div>
<script src="{%static 'article/delete_article.js'%}"></script>
{%endblock%}
