{%extends 'base.html'%}
{%block title%}
View article
{%endblock%}

{%block content%}
<div class="container"><br>
    <div class="panel panel-default">
            <br>&nbsp;&nbsp;
            <a href="{%url 'articles:list' %}" class="btn btn-primary btn-xs">Back</a>
            <a href="{%url 'articles:edit_article' article_id %}" class="btn btn-primary btn-xs">Edit</a>
            <div class="panel-body">
            <p><strong>{{title}}</strong></p>
            {%if image%}
            <img class="img-responsive pull-right img-rounded" src="{{image.url}}" alt="my_image" width="304" height="236" >
            {%endif%}
            {{body}}

        </div>       
    </div>       
</div>       

{%endblock%}
        

