{%extends 'base.html'%}
{%load staticfiles%}


{%block title%}
View article
{%endblock%}

{%block content%}
<div class="container"><br>
<div class="row ">
<div class="col-sm-8 ">
    <div class="panel panel-default">
    <br>&nbsp;&nbsp;
    <a href="{%url 'articles:list' %}" class="btn btn-default btn-sm">Back</a>
    <a href="{%url 'articles:edit_article' article_id %}" class="btn btn-primary btn-sm">Edit</a>
    <div class="panel-body">
    <p><strong>{{title}}</strong></p>
    {{body}}
    </div>
    </div>
</div>
<div class="col-sm-4">
    <div id="myModal" class="modal">
    <span class="close">&times;</span>
    <img class="modal-content" id="img01">
    <div id="caption"></div>
    </div>
    {%if image%}
    <img id="myImg" class="img-responsive img-rounded" src="{{image.url}}" alt="{{image}}" width="360" height="230" />
    {%else%}
    Edit article to add image &nbsp;<span class="glyphicon glyphicon-picture"></span>
    {%endif%}
</div>
</div>       
    <script src="{%static 'article/zoom_img.js'%}"></script>  
    <link rel="stylesheet" href="{%static 'article/zoom_img.css'%}">
</div>       

{%endblock%}  
