{%extends 'base.html'%}
{%load bootstrap3%}
{%block title%}
Edit issue
{%endblock%}
{%block content%}
<div class="container">


<form action="{%url 'tracker:edit_issue' issue_id%}" method='post'>
    {%csrf_token%}
    {% bootstrap_form form %}
    <label for="sel1">Assigned: <label id = 'user' > </label></label>
    
    <select class="form-control" id="select" style="width: auto;">
            <option class="input-sm">-Select-</option>
            {%for user in users%}
            <option class="input-md">{{user.email}}</option>
            {%endfor%}
    </select><br>

    <button class="btn btn-primary btn-sm" name="submit">Save Changes</button>
    <a href="{%url 'tracker:issues'%}" class="btn btn-warning btn-sm" name="exit">Exit</a>
</form>

    <script>
         $(document).ready(function(){
             $('#select').on('change',function(){
             $('#id_assignee').val($(this).val());
            });
            });
    </script>
</div>
{%endblock%}
