{%extends 'base.html'%}
{%load bootstrap3%}
{%block title%}
Issues
{%endblock%}
{%block content%}
<br>
<div class="container">

<p>
    <a href="{%url 'tracker:add_issue'%}" class="btn btn-success btn-sm">Create Issue</a>
    <form action="" method="GET" class="form-inline">
            <div class="form-group">
        <input class="form-control" type="text" name="q" placeholder="search" />
            </div>
        <input type="submit" class="btn btn-primary" value="search"/input>
    </form>
</p>
                            
<ul class="list-group">
    {%for issue in issues%}
        <li class="list-group-item">{{issue}} 
        <a href="{%url 'tracker:edit_issue' issue.id%}" class="btn btn-primary btn-xs pull-right">View</a>
        </li>
    {%endfor%}
</ul>



    <div class="text-center">
            <div class="pagination">
                    <span class="step-links">
                            {% if issues.has_other_pages %}
                            <ul class="pagination">
                              {% if issues.has_previous %}
                                <li><a href="?page={{issues.previous_page_number}}">&laquo;</a></li>
                              {% else %}
                                <li class="disabled"><span>&laquo;</span></li>
                              {% endif %}
                              {% for i in issues.paginator.page_range %}
                                {% if issues.number == i %}
                                  <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                                {% else %}
                                  <li><a href="?page={{ i }}">{{ i }}</a></li>
                                {% endif %}
                              {% endfor %}
                              {% if issues.has_next %}
                                <li><a href="?page={{issues.next_page_number}}">&raquo;</a></li>
                              {% else %}
                                <li class="disabled"><span>&raquo;</span></li>
                              {% endif %}
                            </ul>
                          {% endif %}
                    </span>
                </div>
            </div>



</div>
{%endblock%}


