<!DOCTYPE html>
<html lang="en">
<head>
  <title>django page</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<div class='container'>
                
	<ul class="nav nav-tabs" role="tablist">
        <li><a href="{%url 'index'%}">Home</a></li>
        <li><a href="{% url 'article:list'%}">Articles</a></li>
        {% if user.is_authenticated %}
        <li class="navbar-right"><a href="{% url 'users:logout' %}"><span class="glyphicon glyphicon-log-out"></span> Log out</a></li>        
        {% else %}
        <li class="navbar-right"><a href="{% url 'users:login' %}"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>        
        <li class="navbar-right"><a href="{% url 'users:register' %}"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
        {% endif %}    
    </ul>	
</div>

    
  {%block content%}
  {%endblock%}

  
</body>
</html>